<ng-container>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>{{ "GLOBAL.ayuda" | translate }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <div class="video-container" [innerHTML]="videoIframe"></div>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: center;">
      <button mat-flat-button color="primary" (click)="closeModal()">
        {{ "GLOBAL.cerrar" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
