<div class="col-md-12 col-lg-12 ">
    <div>
        <mat-card-content>
             <div class="info my-3">
                <mat-icon class="info-icon">info</mat-icon> &nbsp;
                <span>{{ 'inscripcion.alerta_doc_sol' | translate }}</span>
            </div>
            
            <mat-tab-group fullWidth [selectedIndex]="selected" (selectedTabChange)="tabChanged($event)">
                <mat-tab label="{{ 'GLOBAL.lista' | translate }}">
                    <br />
                    <div class="d-flex justify-content-end">
                        <button class="btn boton-primary mx-4" (click)="onCreate()" mat-button>
                            <mat-icon>add</mat-icon>
                            {{ 'GLOBAL.agregar' | translate }}
                        </button>
                    </div>
                    <div class="table-container">
                        <mat-table [dataSource]="dataSource" class="demo-table">
                            <ng-container matColumnDef="tipo_documento">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'GLOBAL.tipo_documento_programa' | translate }}</b>

                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.TipoDocumento }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'admision.estado' | translate }}</b>

                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.EstadoObservacion }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="observacion">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'admision.observacion' | translate }}</b>

                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.Observacion }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="acciones">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'GLOBAL.acciones' | translate }}</b>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon class="link icono" (click)="onOpen(row)" aria-hidden="false"
                                        title="{{'GLOBAL.tooltip_ver_registro' | translate}}"
                                        fontIcon="remove_red_eye"></mat-icon>
                                    <mat-icon class="link icono" (click)="onEdit(row)" aria-hidden="false"
                                        title="{{'GLOBAL.tooltip_editar_registro' | translate}}"
                                        fontIcon="edit_outline"></mat-icon>

                                    <mat-icon class="link icono" (click)="onDelete(row)" aria-hidden="false"
                                        title="{{'GLOBAL.eliminar' | translate}}"
                                        fontIcon="delete_outline"></mat-icon>
                                </mat-cell>

                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                    <!-- <div class="text-center">
                        <button (click)="activetab()" class="btn btn-info btn-sm">
                          <i class="nb-plus"></i> {{ 'GLOBAL.agregar' | translate }}
                        </button>
                    </div> -->
                </mat-tab>
                <mat-tab label="{{ 'GLOBAL.formulario' | translate }}">
                    <ngx-crud-documento-programa
                        [documento_programa_id]="uid"
                        [inscripcion_id]="inscripcion"
                        [persona_id]="persona"
                        [soporte_id]="soporteId"
                        [already_listed]="listAlreadyUploaded"
                        (eventChange)="onChange($event)"
                        >
                    </ngx-crud-documento-programa>
                    <button (click)="irAIndexTab(0)" class="btn boton-primary btn-sm" style="max-height: 35px;">
                        <mat-icon>arrow_back_ios</mat-icon>
                        <p class="mt-1">{{ 'GLOBAL.regresar' | translate }}</p>
                    </button>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </div>
</div>