object{
    width: 100%;
    height: 90%;
}

.nofile {
    background-color: lightgray;
    width: 100%;
    height: 90%;
    text-align: center;
    padding-top: 10rem;
}

.boton-primary {
    border: solid 1px #03678f;
    font-weight: 300;
    background-color: #03678f;
    border-color: #03678f;
    cursor: pointer;
    color: white !important;
}