<div class="contenedor-tabla" *ngIf="info_info_persona">
    <table mat-table [dataSource]="dataSourceBasica" class="equal-width-table">
        <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef class="equal-width">{{ "GLOBAL.nombres" | translate }}</th>
            <td mat-cell *matCellDef="let element" class="equal-width">{{element.PrimerNombre}} {{element.SegundoNombre}}</td>
        </ng-container>
    
        <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef class="equal-width">{{ "GLOBAL.apellidos" | translate }}</th>
            <td mat-cell *matCellDef="let element" class="equal-width">{{element.PrimerApellido}} {{element.SegundoApellido}}</td>
        </ng-container>
    
        <ng-container matColumnDef="documento">
            <th mat-header-cell *matHeaderCellDef class="equal-width">{{ "GLOBAL.documento_identificacion" | translate }}</th>
            <td mat-cell *matCellDef="let element" class="equal-width">
                {{element.TipoIdentificacion.CodigoAbreviacion}}: {{info_info_persona.NumeroIdentificacion}}
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsBasica"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsBasica;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="3">{{ "admision.no_data" | translate }}</td>
        </tr>
    </table>
    

    <table mat-table [dataSource]="dataSourceContacto" class="equal-width-table">

        <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef class="equal-width">{{ "GLOBAL.correo_principal" | translate }}</th>
            <td mat-cell *matCellDef="let element" class="equal-width"> {{element.correo}} </td>
        </ng-container>

        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef class="equal-width">{{ "GLOBAL.telefono" | translate }}</th>
            <td mat-cell *matCellDef="let element" class="equal-width"> {{element.telefono}} </td>
        </ng-container>


        <ng-container matColumnDef="telefono_alter">
            <th mat-header-cell *matHeaderCellDef class="equal-width">{{ "GLOBAL.telefono_alternativo" | translate }}</th>
            <td mat-cell *matCellDef="let element" class="equal-width"> {{element.telefono_alter}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsContacto"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsContacto;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="3">{{ "admision.no_data" | translate }}</td>
        </tr>
    </table>

    <table mat-table [dataSource]="dataSourceUbicacion" class="equal-width-table">

        <ng-container matColumnDef="fecha_nacimiento">
            <th mat-header-cell *matHeaderCellDef class="equal-width">{{ "GLOBAL.fecha_nacimiento" | translate }}</th>
            <td mat-cell *matCellDef="let element" class="equal-width"> {{element.fecha_nacimiento}} </td>
        </ng-container>

        <ng-container matColumnDef="lugar_nacimiento">
            <th mat-header-cell *matHeaderCellDef class="equal-width">{{ "GLOBAL.lugar_nacimiento" | translate }}</th>
            <td mat-cell *matCellDef="let element" class="equal-width"> {{element.lugar_nacimiento}} </td>
        </ng-container>


        <ng-container matColumnDef="direccion_residencia">
            <th mat-header-cell *matHeaderCellDef class="equal-width">{{ "GLOBAL.direccion_residencia" | translate }}</th>
            <td mat-cell *matCellDef="let element" class="equal-width"> {{element.direccion_residencia}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsUbicacion"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsUbicacion;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="3">{{ "admision.no_data" | translate }}</td>
        </tr>
    </table>
</div>
<div class="contenedor-tabla" *ngIf="idSoporteDiscapacidad || idSoportePoblacion">
    <table mat-table [dataSource]="dataSourceDiscapacidad" *ngIf="idSoporteDiscapacidad">

        <ng-container matColumnDef="info">
            <th mat-header-cell *matHeaderCellDef>{{ "inscripcion.info_caracteristica" | translate }}</th>
            <td mat-cell *matCellDef="let element"> {{ 'GLOBAL.tipo_discapacidad' | translate }}: {{element.nombreDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>{{ "admision.estado" | translate }}</th>
            <td mat-cell *matCellDef="let element"> {{element.estadoObservacion?element.estadoObservacion:''}} </td>
        </ng-container>


        <ng-container matColumnDef="observacion">
            <th mat-header-cell *matHeaderCellDef>{{ "admision.observacion" | translate }}</th>
            <td mat-cell *matCellDef="let element"> {{element.observacion?element.observacion:''}}:
                {{info_info_persona.NumeroIdentificacion}} </td>
        </ng-container>

        <ng-container matColumnDef="soporte">
            <th mat-header-cell *matHeaderCellDef>{{ "solicitudes.soporte" | translate }}</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="accent" type="button" (click)="verInfoCaracteristca(element)">
                    <mat-icon fontIcon="search"></mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDiscapacidad"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDiscapacidad;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="3">{{ "admision.no_data" | translate }}</td>
        </tr>
    </table>

    <table mat-table [dataSource]="dataSourcePoblacion" *ngIf="idSoportePoblacion">

        <ng-container matColumnDef="info">
            <th mat-header-cell *matHeaderCellDef>{{ "inscripcion.info_caracteristica" | translate }}</th>
            <td mat-cell *matCellDef="let element"> {{ 'GLOBAL.tipo_poclacion' | translate }}: {{element.nombreDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>{{ "admision.estado" | translate }}</th>
            <td mat-cell *matCellDef="let element"> {{element.estadoObservacion?element.estadoObservacion:''}} </td>
        </ng-container>


        <ng-container matColumnDef="observacion">
            <th mat-header-cell *matHeaderCellDef>{{ "admision.observacion" | translate }}</th>
            <td mat-cell *matCellDef="let element"> {{element.observacion?element.observacion:''}}:
                {{info_info_persona.NumeroIdentificacion}} </td>
        </ng-container>

        <ng-container matColumnDef="soporte">
            <th mat-header-cell *matHeaderCellDef>{{ "solicitudes.soporte" | translate }}</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="accent" type="button" (click)="verInfoCaracteristca(element)">
                    <mat-icon fontIcon="search"></mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPoblacion"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPoblacion;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="3">{{ "admision.no_data" | translate }}</td>
        </tr>
    </table>
</div>
<div class="contenedor-actualizar" *ngIf="(url_editar && gotoEdit) || (updateDocument && canUpdateDocument)">
    <span (click)="editar()" class="link"><mat-icon>edit</mat-icon> {{"GLOBAL.actualizar" | translate}}</span>
</div>