:host {
  width: 100%;
}

.text-center{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.btn-barcode,
.container-button-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

::deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  text-align: center;
}

.demo-table {
  max-width: 96%;
  min-width: 96% !important;
  overflow: auto;
  margin: 20px;
  border-top: 1px solid #edf1f7;
  border-bottom: 1px solid #edf1f7;
  border-left: 1px solid #edf1f7;
}

.mat-mdc-row:nth-child(even) .mat-mdc-cell {
  background-color: #f7f9fc;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #edf1f7;
}

.mat-column-recibo{
  max-width: 10%;
  border-right: 1px solid #edf1f7;
}

.mat-column-concepto{
  max-width: 10%;
  border-right: 1px solid #edf1f7;
}

.mat-column-programa{
  max-width: 30%;
  border-right: 1px solid #edf1f7;
}

.mat-column-fecha{
  max-width: 15%;
  border-right: 1px solid #edf1f7;
}

.mat-column-estado{
  max-width: 15%;
  border-right: 1px solid #edf1f7;
}

.mat-column-respuesta{
  max-width: 10%;
  border-right: 1px solid #edf1f7;
}

.mat-column-solicitar{
  max-width: 10%;
  border-right: 1px solid #edf1f7;
}

.boton-primary {
  border: solid 1px #03678f;
  background-color: #03678f;
  border-color: #03678f;
  cursor: pointer;
  color: white !important;
  display: flex;
}

.link:hover {
  cursor: pointer;
}

.icono:hover {
  color: #03678f;
}

.table-container {
  overflow: overlay;
}

mat-table {
  display: table;
}

.form-container {
  overflow: overlay;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}

.form-container mat-form-field {
  width: 100%;
}

.card-id {
  flex-grow: 1;
  margin-right: 20px;
}

.card-nombre {
  flex-grow: 2;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.button-disabled {
  background-color: #ccc;
  color: black !important;
  cursor: not-allowed;
  border: black solid 1px !important;
}

.icon-boton {
  font-size: 1.75rem !important;
  height: 1.75rem !important;
  width: 1.75rem !important;
  margin: 3px 0 0 0 !important;
  color: white;
}

.boton-general {
  justify-content: center;
  width: 90px;
  height: 30px;
  align-items: center;
  border-radius: 5px;
}

.boton-accion {
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #03678f !important;
  transition: box-shadow 0.3s ease;
}

.boton-accion:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contendedor-no-autorizado {
  text-align: center;
  width: 50%;
  margin: 100px auto !important;
}

.contendedor-no-autorizado mat-card-header {
  background-color: rgb(212, 64, 64);
}

.contendedor-no-autorizado mat-card-content {
  padding: 18px;
}

.botones-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 20px auto 0;
}

.botones-contenedor button {
  margin: 10px 0;
}

.botones-contenedor button.primario {
  background-color: var(--primary);
}

.botones-contenedor button.rechazado {
  background-color: var(--danger-main);
}

.botones-contenedor button.primario.disabled{
  background-color: var(--color500);
  cursor: not-allowed;
}

.botones-contenedor button.rechazado.disabled{
  background-color: var(--danger-base);
  cursor: not-allowed;
}

.contenedor-tabla {
  width: 100%;
  overflow: overlay;
  margin-bottom: 25px;
}

.boton-acciones {
  border: 0;
  cursor: pointer;
}

.contenedor-acciones {
  text-align: center;
}

.filtro {
  width: 100%;
}

th {
  font-weight: bold;
}

.contenedor-info-personal {
  border: solid 1px var(--primary);
  border-radius: 5px;
  margin: 15px 0;
}

.contenedor-info-personal mat-card-title {
  text-align: center;
  background-color: var(--primary);
  border-radius: 5px 5px 0 0;
  color: white;
}

.contenedor-info-personal .parametros-info-personal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.contenedor-info-personal .parametros-info-personal div {
  margin: 10px 0;
}

@media(width > 580px) {
  .form-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(width > 800px) {
  .form-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .botones-contenedor {
    flex-direction: row;
    width: auto;
  }

  .botones-contenedor button {
    margin: 0;
  }
}

@media(width < 600px) {
  .contenedor-info-personal .parametros-info-personal {
    flex-direction: column;
  }
}