<div *ngIf="!formulario && estaAutorizado">
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>{{ 'legalizacion_admision.liquidacion_recibos' | translate }}</ng-template>

      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'legalizacion_admision.informacion_proyecto' | translate }}</mat-card-title>
        </mat-card-header>

        <br><br>

        <mat-card-content>
          <form class="form-container">
            <div>
              <mat-card-subtitle>{{ 'legalizacion_admision.facultad' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'legalizacion_admision.seleccion_facultad' | translate }}</mat-label>
                <mat-select formControlName="validatorFacultad" required (selectionChange)="onFacultadChange($event)">
                  <mat-option *ngFor="let facultad of facultades" [value]="facultad.Id">{{facultad.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-card-subtitle>{{ 'legalizacion_admision.proyecto_curricular' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'legalizacion_admision.seleccion_proyecto' | translate }}</mat-label>
                <mat-select formControlName="validatorProyecto" required>
                  <mat-option *ngFor="let proyecto of proyectosCurriculares" [value]="proyecto.Id">{{proyecto.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-card-subtitle>{{ 'legalizacion_admision.anno' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'legalizacion_admision.seleccion_anno' | translate }}</mat-label>
                <mat-select formControlName="validatorAño" required (selectionChange)="onAnioChange($event)">
                  <mat-option *ngFor="let anio of anios" [value]="anio.Id">{{anio.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-card-subtitle>{{ 'legalizacion_admision.periodo' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'legalizacion_admision.seleccion_periodo' | translate }}</mat-label>
                <mat-select formControlName="validatorPeriodo" required>
                  <mat-option *ngFor="let periodo of periodosAnio" [value]="periodo.Id">{{periodo.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-card-subtitle>{{ 'legalizacion_admision.ciclos' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'legalizacion_admision.seleccion_ciclos' | translate }}</mat-label>
                <mat-select formControlName="validatorCiclos" required>
                  <mat-option [value]="1">{{ 'legalizacion_admision.ciclo_actual' | translate }}</mat-option>
                  <mat-option [value]="2">{{ 'legalizacion_admision.todos_ciclos' | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>

        <div class="button-stepper">
          <button mat-stroked-button matStepperNext class="boton-general btn boton-primary" (click)="generarBusqueda(stepper)" [disabled]="!firstFormGroup.valid" [ngClass]="{'button-disabled': !firstFormGroup.valid}">{{ 'legalizacion_admision.consultar' | translate }}</button>
        </div>

        </mat-card-content>
      </mat-card>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>{{ 'legalizacion_admision.tabla_resumen' | translate }}</ng-template>

        <mat-card>
          <mat-card-content>
            <mat-form-field class="filtro">
              <mat-label>{{"GLOBAL.filtro" | translate}}</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
        
            <div class="mat-elevation-z8 contenedor-tabla">
              <table mat-table [dataSource]="personaDataSource" matSort>
        
                <ng-container matColumnDef="Orden">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.orden" | translate}} </th>
                  <td mat-cell *matCellDef="let row"> {{row.orden}} </td>
                </ng-container>
        
                <ng-container matColumnDef="Credencial">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.credencial" | translate}} </th>
                  <td mat-cell *matCellDef="let row"> {{row.credencial}} </td>
                </ng-container>
        
                <ng-container matColumnDef="Nombres">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.nombres" | translate}} </th>
                  <td mat-cell *matCellDef="let row"> {{row.nombres}} </td>
                </ng-container>

                <ng-container matColumnDef="Apellidos">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.apellidos" | translate}} </th>
                  <td mat-cell *matCellDef="let row"> {{row.apellidos}} </td>
                </ng-container>
        
                <ng-container matColumnDef="TipoDocumento">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.tipo_doc" | translate}} </th>
                  <td mat-cell *matCellDef="let row"> {{row.tipo_documento}} </td>
                </ng-container>
        
                <ng-container matColumnDef="Documento">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.documento" | translate}} </th>
                  <td mat-cell *matCellDef="let row"> {{row.documento}} </td>
                </ng-container>

                <ng-container matColumnDef="EstadoAdmision">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.estado_admision" | translate}} </th>
                  <td mat-cell *matCellDef="let row"> {{row.estado_admision | translate}} </td>
                </ng-container>
        
                <ng-container matColumnDef="EstadoRevision">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.estado_revision" | translate}} </th>
                  <td mat-cell *matCellDef="let row"> {{row.estado_revision | translate}} </td>
                </ng-container>
        
                <ng-container matColumnDef="Acciones" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.acciones" | translate}} </th>
                  <td mat-cell *matCellDef="let row">
                    <div class="contenedor-acciones">
                      <button mat-icon-button [matMenuTriggerFor]="menu" class="boton-acciones"
                        aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editar(row)">
                          <mat-icon>edit</mat-icon>
                          <span>{{"GLOBAL.editar" | translate}}</span>
                        </button>
                      </mat-menu>
                    </div>
                  </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="personaColums"></tr>
                <tr mat-row *matRowDef="let row; columns: personaColums;"></tr>
        
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
        
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
            
            <div class="button-container">
              <div class="button-stepper">
                <button mat-stroked-button class="boton-general btn boton-primary">{{ 'legalizacion_admision.guardar' |
                  translate }}</button>
              </div>
            </div>
        
        
          </mat-card-content>
        </mat-card>

    </mat-step>
  </mat-stepper>
</div>

<div *ngIf="formulario && estaAutorizado">
  <mat-card>
    <mat-card-header class="flex">
      <mat-card-title>{{ 'legalizacion_admision.legalizacion' | translate }}</mat-card-title>
      <div class="row">
        <div class="col-md-1" align="right">
          <button class="btn btn-danger btn-icon input-group-text btn-tn" (click)="cerrar()">X</button>
        </div>
      </div>
    </mat-card-header>

    <br><br>

    <mat-card-content>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ 'legalizacion_admision.Informacion_personal' | translate }}</mat-card-title>
          </mat-card-header>
          <br><br>
          <mat-card>
            <mat-card-header>
              <mat-card-subtitle>{{ 'legalizacion_admision.proyecto' | translate }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <div class="contenedor-info-personal">
                <mat-card-title>{{ 'legalizacion_admision.Informacion_personal' | translate }}</mat-card-title>
                <div class="parametros-info-personal">
                  <div>
                    <b>{{ 'legalizacion_admision.opcion' | translate }}</b> {{proyecto.opcion}}
                  </div>
                  <div>
                    <b>{{ 'legalizacion_admision.nombre' | translate }}</b> {{aspirante.proyecto_admitido}}
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <br><br>
          <mat-card>
            <div class="contenedor-tabla">
              <table mat-table [dataSource]="infoAspiranteDataSource">
                <ng-container matColumnDef="TipoIdentificacion">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.tipo_id' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.tipo_documento}} </td>
                </ng-container>
          
                <ng-container matColumnDef="NumeroIdentificacion">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.numero_id' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row"> {{row.documento}} </td>
                </ng-container>
          
                <ng-container matColumnDef="PrimerNombre">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.primer_nombre' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row"> {{row.primer_nombre}} </td>
                </ng-container>
          
                <ng-container matColumnDef="SegundoNombre">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.segundo_nombre' | translate
                    }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.segundo_nombre}} </td>
                </ng-container>
          
                <ng-container matColumnDef="PrimerApellido">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.primer_apellido' | translate
                    }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.primer_apellido}} </td>
                </ng-container>
          
                <ng-container matColumnDef="SegundoApellido">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.segundo_apellido' | translate
                    }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.segundo_apellido}} </td>
                </ng-container>
          
                <!-- Filas -->
                <tr mat-header-row *matHeaderRowDef="infoPersonal1"></tr>
                <tr mat-row *matRowDef="let row; columns: infoPersonal1;"></tr>
              </table>
            </div>
          </mat-card>
          <br><br>
          <mat-card>
            <div class="contenedor-tabla">
              <table mat-table [dataSource]="infoAspiranteDataSource">

                <ng-container matColumnDef="FechaNacimiento">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.fecha_nacimiento' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.fecha_nacimiento}} </td>
                </ng-container>
  
                <ng-container matColumnDef="Numero">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.numero_cel' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.numero_celular}} </td>
                </ng-container>
  
                <ng-container matColumnDef="Correo">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.correo' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
                </ng-container>
  
                <ng-container matColumnDef="Genero">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.genero' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.genero}} </td>
                </ng-container>
  
                <!-- Filas -->
                <tr mat-header-row *matHeaderRowDef="infoPersonal2"></tr>
                <tr mat-row *matRowDef="let row; columns: infoPersonal2;"></tr>
              </table>
            </div>
          </mat-card>

        </mat-card>

        <br><br>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ 'legalizacion_admision.informacion_socio' | translate }}</mat-card-title>
          </mat-card-header>
          <br><br>
          <mat-card-content>
            <div class="contenedor-tabla">
              <table mat-table [dataSource]="infoSocioEcopersonalDataSource">

                <ng-container matColumnDef="Orden">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.orden' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.Orden}} </td>
                </ng-container>
  
                <ng-container matColumnDef="Concepto">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.concepto' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{ row.Concepto | translate }} </td>
                </ng-container>
  
                <ng-container matColumnDef="Informacion">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.informacion' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.Informacion}} </td>
                </ng-container>
  
                <ng-container matColumnDef="Estado">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.estado' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.Estado | translate }} </td>
                </ng-container>

                <ng-container matColumnDef="Soporte" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.soporte" | translate}} </th>
                  <td mat-cell *matCellDef="let row">
                    <div *ngIf="row.Soporte" class="contenedor-acciones">
                      <button mat-icon-button [matMenuTriggerFor]="menu" class="boton-acciones"
                        aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openModal(row)">
                          <mat-icon>search</mat-icon>
                          <span>{{"GLOBAL.ver" | translate}}</span>
                        </button>
                      </mat-menu>
                    </div>
                  </td>
                </ng-container>
              
                <!-- Filas -->
                <tr mat-header-row *matHeaderRowDef="infoSocioEconomicacolumns"></tr>
                <tr mat-row *matRowDef="let row; columns: infoSocioEconomicacolumns;"></tr>
              </table>
            </div>
          </mat-card-content>
          
        </mat-card>

        <br><br>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ 'legalizacion_admision.informacion_socio_cost' | translate }}</mat-card-title>
          </mat-card-header>
          <br><br>
          <mat-card-content>
            <div class="contenedor-tabla">
              <table mat-table [dataSource]="infoSocioEcoCosteaDataSource">

                <ng-container matColumnDef="Orden">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.orden' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.Orden}} </td>
                </ng-container>
  
                <ng-container matColumnDef="Concepto">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.concepto' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{ row.Concepto | translate }} </td>
                </ng-container>
  
                <ng-container matColumnDef="Informacion">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.informacion' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.Informacion}} </td>
                </ng-container>
  
                <ng-container matColumnDef="Estado">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.estado' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.Estado | translate}} </td>
                </ng-container>

                <ng-container matColumnDef="Soporte" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.soporte" | translate}} </th>
                  <td mat-cell *matCellDef="let row">
                    <div class="contenedor-acciones">
                      <button mat-icon-button [matMenuTriggerFor]="menu" class="boton-acciones"
                        aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openModal(row)">
                          <mat-icon>search</mat-icon>
                          <span>{{"GLOBAL.ver" | translate}}</span>
                        </button>
                      </mat-menu>
                    </div>
                  </td>
                </ng-container>
              
                <!-- Filas -->
                <tr mat-header-row *matHeaderRowDef="infoSocioEconomicacolumns"></tr>
                <tr mat-row *matRowDef="let row; columns: infoSocioEconomicacolumns;"></tr>
              </table>
            </div>
          </mat-card-content>
            
        </mat-card>

        <br><br>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ 'legalizacion_admision.resumen' | translate }}</mat-card-title>
          </mat-card-header>
          <br><br>
          <mat-card-content>
            <div class="contenedor-tabla">
              <table mat-table [dataSource]="resumenGeneralDataSource">

                <ng-container matColumnDef="Orden">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.orden' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.Orden}} </td>
                </ng-container>
  
                <ng-container matColumnDef="Concepto">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.concepto' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{ row.Concepto | translate }} </td>
                </ng-container>
  
                <ng-container matColumnDef="Informacion">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.informacion' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.Informacion | translate}} </td>
                </ng-container>

                <ng-container matColumnDef="Soporte" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"legalizacion_admision.soporte" | translate}} </th>
                  <td mat-cell *matCellDef="let row">
                    <div class="contenedor-acciones">
                      <button mat-icon-button [matMenuTriggerFor]="menu" class="boton-acciones"
                        aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openModal(row)">
                          <mat-icon>search</mat-icon>
                          <span>{{"GLOBAL.ver" | translate}}</span>
                        </button>
                      </mat-menu>
                    </div>
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="Estado">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'legalizacion_admision.estado' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.Estado | translate}} </td>
                </ng-container>
              
                <!-- Filas -->
                <tr mat-header-row *matHeaderRowDef="infoSocioEconomicacolumns"></tr>
                <tr mat-row *matRowDef="let row; columns: infoSocioEconomicacolumns;"></tr>
              </table>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="botones-contenedor">
          <button mat-stroked-button matStepperNext class="btn boton-primary primario" [ngClass]="{'disabled': !puedeAprobar}" (click)="aprobarAspirante()">{{ 'legalizacion_admision.aprobar_aspirante' | translate }}</button>
          <button mat-stroked-button matStepperNext class="btn boton-primary rechazado" [ngClass]="{'disabled': !puedeRechazar}" (click)="rechazarAspirante()">{{ 'legalizacion_admision.rechazar_aspirante' | translate }}</button>
          <button mat-stroked-button matStepperNext class="btn boton-primary primario" [ngClass]="{'disabled': !puedePedirMod}" (click)="solicitarcambiosAspirante()">{{ 'legalizacion_admision.solicitar_modificaciones_aspirante' | translate }}</button>
        </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!estaAutorizado">
  <mat-card>
    <mat-card-content>
        <mat-card class="contendedor-no-autorizado">
            <mat-card-header>
                <h1>{{'ERROR.rol_insuficiente_titulo' | translate}}</h1>
            </mat-card-header>
            <mat-card-content>
                <p>{{'ERROR.rol_insuficiente' | translate}}</p>
            </mat-card-content>    
        </mat-card>
    </mat-card-content>
  </mat-card>
</div>