<mat-card>
    <mat-card-header>
        <div class="contenedor-label titulo-principal color-primario mx-auto my-md">
            {{ 'legalizacion_admision.titulo' | translate }}
        </div>
        <div class="contenedor-label contenedor-informacion mx-auto my-md">
            {{ 'legalizacion_admision.contenido-informativo' | translate }}
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="contenedor-label credencial color-primario mx-auto my-md">
            {{ 'admision.credencial' | translate }}
        </div>
        <fieldset>
            <legend>{{ 'legalizacion_admision.proyecto_admitido' | translate }}</legend>
            <div class="fila f-2">
                <div class="column campo-label">
                    <p>{{ 'inscripcion.opcion' | translate }}: </p>
                    <p class="campo-label ">texto de prueba</p>
                </div>
                <div class="column campo-label">
                    <p>{{ 'GLOBAL.nombre' | translate }}: </p>
                    <p class="campo-label">texto de prueba</p>
                </div>
            </div>
            <mat-card class="info-personal">
                <mat-card-header>
                  <mat-card-title>{{ 'legalizacion_admision.titulo_informacion_personal' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li><span>{{ 'legalizacion_admision.tipo_identificacion' | translate }}: </span></li>
                        <li><span>{{ 'GLOBAL.documento_identificacion' | translate }}: </span></li>
                        <li><span>{{ 'GLOBAL.primer_nombre' | translate }}: </span></li>
                        <li><span>{{ 'GLOBAL.segundo_nombre' | translate }}: </span></li>
                        <li><span>{{ 'GLOBAL.primer_apellido' | translate }}: </span></li>
                        <li><span>{{ 'GLOBAL.segundo_apellido' | translate }}: </span></li>
                        <li><span>{{ 'GLOBAL.fecha_nacimiento' | translate }}: </span></li>
                        <li><span>{{ 'GLOBAL.telefono' | translate }}: </span></li>
                        <li><span>{{ 'GLOBAL.correo_principal' | translate }}: </span></li>
                        <li><span>{{ 'GLOBAL.genero' | translate }}: </span></li>
                    </ul>
                </mat-card-content>
              </mat-card>
        </fieldset>
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <!-- <mat-step [stepControl]="formInfoPersonal">
                <ng-template matStepLabel>{{ 'legalizacion_admision.titulo_informacion_personal' | translate
                    }}</ng-template>
                <div class="contenedor-form">
                    <form [formGroup]="formInfoPersonal">
                        <div class="campos">
                            <mat-form-field>
                                <mat-label>{{ 'legalizacion_admision.tipo_identificacion' | translate }}</mat-label>
                                <mat-select formControlName="tipo_identificacion">
                                    <mat-option value="">{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                        <mat-option *ngFor="let documento of tiposDocumento" value="{{ documento.Id }}">{{ documento.Nombre }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.documento_identificacion' | translate }}</mat-label>
                                <input matInput formControlName="numero_identificacion">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.primer_nombre' | translate }}</mat-label>
                                <input matInput formControlName="primer_nombre">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.segundo_nombre' | translate }}</mat-label>
                                <input matInput formControlName="segundo_nombre">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.primer_apellido' | translate }}</mat-label>
                                <input matInput formControlName="primer_apellido">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.segundo_apellido' | translate }}</mat-label>
                                <input matInput formControlName="segundo_apellido">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.fecha_nacimiento' | translate }}</mat-label>
                                <input matInput formControlName="fecha_nacimiento" [matDatepicker]="picker">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.telefono' | translate }}</mat-label>
                                <input matInput formControlName="celular">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.correo_principal' | translate }}</mat-label>
                                <input matInput formControlName="correo">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.genero' | translate }}</mat-label>
                                <input matInput formControlName="genero">
                            </mat-form-field>
                        </div>
                        <div class="contenedor-boton">
                            <button class="contenedor-label color-primario my-md" mat-raised-button matStepperNext>{{
                                'GLOBAL.siguiente' |
                                translate }}</button>
                        </div>
                    </form>
                </div>
            </mat-step> -->
            <mat-step [stepControl]="formInfoSocioEconomicaPersonal">
                <ng-template matStepLabel>{{ 'legalizacion_admision.titulo_informacion_socioeconomica_personal' |
                    translate }}</ng-template>
                <form [formGroup]="formInfoSocioEconomicaPersonal" class="my-25">
                    <div class="info-socioeconomica">
                        <div class="residencia-colegio">
                            <mat-form-field class="span-2">
                                <mat-label>{{ 'GLOBAL.direccion_residencia' | translate }}</mat-label>
                                <input matInput formControlName="direccion_residencia">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.localidad_residencia' | translate }}</mat-label>
                                <mat-select formControlName="localidad">
                                    <mat-option value="">{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                    <mat-option *ngFor="let localidad of localidades" value="{{ localidad.Id }}">{{ localidad.Nombre }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="span-2">
                                <mat-label>{{ 'GLOBAL.colegio' | translate }}</mat-label>
                                <input matInput formControlName="colegio">
                            </mat-form-field>
                            <mat-form-field floatLabel="always">
                                <input #documentoBachiller type="file" multiple (change)="onChangeSelectFiles('diplomaBachiller', $event)" style="display: none;"/>
                                <input matInput formControlName="diploma_bachiller" [type]="'text'" style="display: none;">
                                <mat-label>{{ 'legalizacion_admision.diploma_bachiller' | translate }}</mat-label>
                                <div class="row">
                                    <div class="col-12 d-flex flex-wrap">
                                        <button class="my-button" #selectFiles type="button" mat-raised-button (click)="documentoBachiller.click()">{{'GLOBAL.seleccionar_archivo' | translate}}</button>
                                        <span class="enlace-documento" *ngFor="let archivo of soportes['diplomaBachiller'].archivosLocal" (click)="previewFile(archivo.urlTemp)" title="{{'GLOBAL.tooltip_previsualizar_archivo' | translate}}" [ngClass]="{'archivo_invalido': archivo.err}">
                                            {{ archivo.file.name }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar' | translate}}" (click)="deleteSelectedFile('diplomaBachiller', archivo.file.name)">close</mat-icon>
                                        </span>
                                        <span class="enlace-documento" *ngFor="let archivoLinea of soportes['diplomaBachiller'].archivosLinea" (click)="previewFile(archivoLinea.url)" title="{{'GLOBAL.tooltip_descargar_arhivo' | translate}}">
                                            <mat-icon class="icon-boton" aria-hidden="true">download</mat-icon> {{ archivoLinea.nombre }}{{ archivoLinea.type }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar_temporalmente' | translate}}" (click)="deleteSelectedFileLinea('diplomaBachiller', archivoLinea.Id)">close</mat-icon>
                                        </span>
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="pension">
                            <mat-form-field>
                                <mat-label>{{ 'legalizacion_admision.valor_pension' | translate }}</mat-label>
                                <input type="number" matInput formControlName="pension_valor">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'legalizacion_admision.valor_sm' | translate }}</mat-label>
                                <input type="number" matInput formControlName="pension_valor_smv">
                            </mat-form-field>
                            <mat-form-field floatLabel="always">
                                <input #documentoPension type="file" multiple (change)="onChangeSelectFiles('soportePension', $event)" style="display: none;"/>
                                <input matInput formControlName="soporte_pension_valor" [type]="'text'" style="display: none;">
                                <mat-label>{{ 'legalizacion_admision.soporte_valor_pension' | translate }}</mat-label>
                                <div class="row">
                                    <div class="col-12 d-flex flex-wrap">
                                        <button class="my-button" #selectFiles type="button" mat-raised-button (click)="documentoPension.click()">{{'GLOBAL.seleccionar_archivo' | translate}}</button>
                                        <span class="enlace-documento" *ngFor="let archivo of soportes['soportePension'].archivosLocal" (click)="previewFile(archivo.urlTemp)" title="{{'GLOBAL.tooltip_previsualizar_archivo' | translate}}" [ngClass]="{'archivo_invalido': archivo.err}">
                                            {{ archivo.file.name }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar' | translate}}" (click)="deleteSelectedFile('soportePension', archivo.file.name)">close</mat-icon>
                                        </span>
                                        <span class="enlace-documento" *ngFor="let archivoLinea of soportes['soportePension'].archivosLinea" (click)="previewFile(archivoLinea.url)" title="{{'GLOBAL.tooltip_descargar_arhivo' | translate}}">
                                            <mat-icon class="icon-boton" aria-hidden="true">download</mat-icon> {{ archivoLinea.nombre }}{{ archivoLinea.type }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar_temporalmente' | translate}}" (click)="deleteSelectedFileLinea('soportePension', archivoLinea.Id)">close</mat-icon>
                                        </span>
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="familia-laboral">
                            <div>
                                <mat-form-field>
                                    <mat-label>{{ 'legalizacion_admision.nucleo_familiar' | translate }}</mat-label>
                                    <mat-select formControlName="nucleo_familiar">
                                        <mat-option value="">{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                        <mat-option *ngFor="let nucleo of nuceloFamiliar" value="{{ nucleo.Id }}">{{ nucleo.Nombre }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field floatLabel="always">
                                    <input #documentoNucleo type="file" multiple (change)="onChangeSelectFiles('soporteNucleo', $event)" style="display: none;"/>
                                    <input matInput formControlName="soporte_nucleo_familiar" [type]="'text'" style="display: none;">
                                    <mat-label>{{ 'legalizacion_admision.soporte_nucleo_familiar' | translate
                                    }}</mat-label>
                                    <div class="row">
                                        <div class="col-12 d-flex flex-wrap">
                                            <button class="my-button" #selectFiles type="button" mat-raised-button (click)="documentoNucleo.click()">{{'GLOBAL.seleccionar_archivo' | translate}}</button>
                                            <span class="enlace-documento" *ngFor="let archivo of soportes['soporteNucleo'].archivosLocal" (click)="previewFile(archivo.urlTemp)" title="{{'GLOBAL.tooltip_previsualizar_archivo' | translate}}" [ngClass]="{'archivo_invalido': archivo.err}">
                                                {{ archivo.file.name }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar' | translate}}" (click)="deleteSelectedFile('soporteNucleo', archivo.file.name)">close</mat-icon>
                                            </span>
                                            <span class="enlace-documento" *ngFor="let archivoLinea of soportes['soporteNucleo'].archivosLinea" (click)="previewFile(archivoLinea.url)" title="{{'GLOBAL.tooltip_descargar_arhivo' | translate}}">
                                                <mat-icon class="icon-boton" aria-hidden="true">download</mat-icon> {{ archivoLinea.nombre }}{{ archivoLinea.type }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar_temporalmente' | translate}}" (click)="deleteSelectedFileLinea('soporteNucleo', archivoLinea.Id)">close</mat-icon>
                                            </span>
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <mat-label>{{ 'legalizacion_admision.situacion_laboral' | translate }}</mat-label>
                                    <mat-select formControlName="situacion_laboral">
                                        <mat-option value="">{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                        <mat-option *ngFor="let situacion of situacionesLaboral" value="{{ situacion.Id }}">{{ situacion.Nombre }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field floatLabel="always">
                                    <input #documentoSituacionLaboral type="file" multiple (change)="onChangeSelectFiles('soporteSituacionLaboral', $event)" style="display: none;"/>
                                    <input matInput formControlName="soporte_situacion_laboral" [type]="'text'" style="display: none;">
                                    <mat-label>{{ 'legalizacion_admision.soporte_situacion_laboral' | translate
                                    }}</mat-label>
                                    <div class="row">
                                        <div class="col-12 d-flex flex-wrap">
                                            <button class="my-button" #selectFiles type="button" mat-raised-button (click)="documentoSituacionLaboral.click()">{{'GLOBAL.seleccionar_archivo' | translate}}</button>
                                            <span class="enlace-documento" *ngFor="let archivo of soportes['soporteSituacionLaboral'].archivosLocal" (click)="previewFile(archivo.urlTemp)" title="{{'GLOBAL.tooltip_previsualizar_archivo' | translate}}" [ngClass]="{'archivo_invalido': archivo.err}">
                                                {{ archivo.file.name }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar' | translate}}" (click)="deleteSelectedFile('soporteSituacionLaboral', archivo.file.name)">close</mat-icon>
                                            </span>
                                            <span class="enlace-documento" *ngFor="let archivoLinea of soportes['soporteSituacionLaboral'].archivosLinea" (click)="previewFile(archivoLinea.url)" title="{{'GLOBAL.tooltip_descargar_arhivo' | translate}}">
                                                <mat-icon class="icon-boton" aria-hidden="true">download</mat-icon> {{ archivoLinea.nombre }}{{ archivoLinea.type }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar_temporalmente' | translate}}" (click)="deleteSelectedFileLinea('soporteSituacionLaboral', archivoLinea.Id)">close</mat-icon>
                                            </span>
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="botones-step">
                        <div class="contenedor-boton">
                            <button class="contenedor-label color-primario my-md" mat-raised-button matStepperPrevious>{{
                                'GLOBAL.regresar' |
                                translate }}</button>
                        </div>
                        <div class="contenedor-boton">
                            <button class="contenedor-label color-primario my-md" mat-raised-button matStepperNext>{{
                                'GLOBAL.siguiente' |
                                translate }}</button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="formInfoSocioEconomicaCosteara">
                <ng-template matStepLabel>{{ 'legalizacion_admision.titulo_informacion_socioeconomica_costeara' |
                    translate }}</ng-template>
                <form [formGroup]="formInfoSocioEconomicaCosteara" class="my-25">
                    <div class="info-costea">
                        <div class="estrato">
                            <mat-form-field class="span-2">
                                <mat-label>{{ 'GLOBAL.direccion_residencia' | translate }}</mat-label>
                                <input matInput formControlName="direccion_residencia_costeara">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.estrato_costea' | translate }}</mat-label>
                                <mat-select formControlName="estrato">
                                    <mat-option value="">{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                    <mat-option *ngFor="let estrato of estratos" value="{{ estrato.Id }}">{{ estrato.Nombre }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'legalizacion_admision.ubicacion_residencia' | translate }}</mat-label>
                                <mat-select formControlName="ubicacion_residencia">
                                    <mat-option value="">{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                    <mat-option *ngFor="let ubicacion of ubicacionesResidencia" value="{{ ubicacion.Id }}">{{ ubicacion.Nombre }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field floatLabel="always">
                                <input #documentoEstrato type="file" multiple (change)="onChangeSelectFiles('soporteEstrato', $event)" style="display: none;"/>
                                <input matInput formControlName="soporte_estrato" [type]="'text'" style="display: none;">
                                <mat-label>{{ 'legalizacion_admision.soporte_estrato' | translate }}</mat-label>
                                <div class="row">
                                    <div class="col-12 d-flex flex-wrap">
                                        <button class="my-button" #selectFiles type="button" mat-raised-button (click)="documentoEstrato.click()">{{'GLOBAL.seleccionar_archivo' | translate}}</button>
                                        <span class="enlace-documento" *ngFor="let archivo of soportes['soporteEstrato'].archivosLocal" (click)="previewFile(archivo.urlTemp)" title="{{'GLOBAL.tooltip_previsualizar_archivo' | translate}}" [ngClass]="{'archivo_invalido': archivo.err}">
                                            {{ archivo.file.name }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar' | translate}}" (click)="deleteSelectedFile('soporteEstrato', archivo.file.name)">close</mat-icon>
                                        </span>
                                        <span class="enlace-documento" *ngFor="let archivoLinea of soportes['soporteEstrato'].archivosLinea" (click)="previewFile(archivoLinea.url)" title="{{'GLOBAL.tooltip_descargar_arhivo' | translate}}">
                                            <mat-icon class="icon-boton" aria-hidden="true">download</mat-icon> {{ archivoLinea.nombre }}{{ archivoLinea.type }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar_temporalmente' | translate}}" (click)="deleteSelectedFileLinea('soporteEstrato', archivoLinea.Id)">close</mat-icon>
                                        </span>
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="ingresos">
                            <mat-form-field class="span-2">
                                <mat-label>{{ 'legalizacion_admision.ingresos_costea' | translate }}</mat-label>
                                <input type="number" matInput formControlName="ingresos_ano_anterior">
                            </mat-form-field>
                            <mat-form-field class="span-2">
                                <mat-label>{{ 'legalizacion_admision.valor_sm' | translate }}</mat-label>
                                <input type="number" matInput formControlName="ingresos_ano_anterior_sm">
                            </mat-form-field>
                            <mat-form-field floatLabel="always">
                                <input #documentoIngresos type="file" multiple (change)="onChangeSelectFiles('soporteIngresos', $event)" style="display: none;"/>
                                <input matInput formControlName="soporte_ingresos_ano_anterior" [type]="'text'" style="display: none;">
                                <mat-label>{{ 'legalizacion_admision.soporte_ingresos_costea' | translate }}</mat-label>
                                <div class="row">
                                    <div class="col-12 d-flex flex-wrap">
                                        <button class="my-button" #selectFiles type="button" mat-raised-button (click)="documentoIngresos.click()">{{'GLOBAL.seleccionar_archivo' | translate}}</button>
                                        <span class="enlace-documento" *ngFor="let archivo of soportes['soporteIngresos'].archivosLocal" (click)="previewFile(archivo.urlTemp)" title="{{'GLOBAL.tooltip_previsualizar_archivo' | translate}}" [ngClass]="{'archivo_invalido': archivo.err}">
                                            {{ archivo.file.name }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar' | translate}}" (click)="deleteSelectedFile('soporteIngresos', archivo.file.name)">close</mat-icon>
                                        </span>
                                        <span class="enlace-documento" *ngFor="let archivoLinea of soportes['soporteIngresos'].archivosLinea" (click)="previewFile(archivoLinea.url)" title="{{'GLOBAL.tooltip_descargar_arhivo' | translate}}">
                                            <mat-icon class="icon-boton" aria-hidden="true">download</mat-icon> {{ archivoLinea.nombre }}{{ archivoLinea.type }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar_temporalmente' | translate}}" (click)="deleteSelectedFileLinea('soporteIngresos', archivoLinea.Id)">close</mat-icon>
                                        </span>
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="botones-step">
                        <div class="contenedor-boton">
                            <button class="contenedor-label color-primario my-md" mat-raised-button matStepperPrevious>{{
                                'GLOBAL.regresar' |
                                translate }}</button>
                        </div>
                        <div class="contenedor-boton">
                            <button class="contenedor-label color-primario my-md" mat-raised-button matStepperNext>{{
                                'GLOBAL.siguiente' |
                                translate }}</button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="formDocsGenerales">
                <ng-template matStepLabel>{{ 'legalizacion_admision.titulo_documentos' | translate }}</ng-template>
                <div class="my-25">
                    <h6>{{ 'legalizacion_admision.info_documentos' | translate }}</h6>
                    <ol>
                        <li>{{ 'legalizacion_admision.comprobante_admision' | translate
                            }}</li>
                        <li>{{ 'legalizacion_admision.certificado_colegio' | translate
                            }}</li>
                        <li>{{ 'legalizacion_admision.certificado_estrato' | translate
                            }}</li>
                        <li>{{ 'legalizacion_admision.declaracion_renta' | translate
                            }}</li>
                        <li>{{ 'legalizacion_admision.fotocopia_documento' | translate
                            }}</li>
                        <li>{{ 'legalizacion_admision.copia_examen' | translate
                            }}</li>
                        <li>{{ 'legalizacion_admision.copia_registro_civil' | translate
                            }}</li>
                        <li>{{ 'legalizacion_admision.certificado_medico' | translate
                            }}</li>
                    </ol>
                    <form [formGroup]="formDocsGenerales">
                        <mat-form-field floatLabel="always">
                            <input #documentoGeneral type="file" multiple (change)="onChangeSelectFiles('documentosGeneral', $event)" style="display: none;"/>
                            <input matInput formControlName="documentos" [type]="'text'" style="display: none;">
                            <mat-label>{{ 'legalizacion_admision.soporte_documento' | translate }}</mat-label>
                            <div class="row">
                                <div class="col-12 d-flex flex-wrap">
                                    <button class="my-button" #selectFiles type="button" mat-raised-button (click)="documentoGeneral.click()">{{'GLOBAL.seleccionar_archivo' | translate}}</button>
                                    <span class="enlace-documento" *ngFor="let archivo of soportes['documentosGeneral'].archivosLocal" (click)="previewFile(archivo.urlTemp)" title="{{'GLOBAL.tooltip_previsualizar_archivo' | translate}}" [ngClass]="{'archivo_invalido': archivo.err}">
                                        {{ archivo.file.name }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar' | translate}}" (click)="deleteSelectedFile('documentosGeneral', archivo.file.name)">close</mat-icon>
                                    </span>
                                    <span class="enlace-documento" *ngFor="let archivoLinea of soportes['documentosGeneral'].archivosLinea" (click)="previewFile(archivoLinea.url)" title="{{'GLOBAL.tooltip_descargar_arhivo' | translate}}">
                                        <mat-icon class="icon-boton" aria-hidden="true">download</mat-icon> {{ archivoLinea.nombre }}{{ archivoLinea.type }} <mat-icon class="icon-boton" aria-hidden="true" *ngIf="!selectFiles.disabled" title="{{'GLOBAL.eliminar_temporalmente' | translate}}" (click)="deleteSelectedFileLinea('documentosGeneral', archivoLinea.Id)">close</mat-icon>
                                    </span>
                                </div>
                            </div>
                        </mat-form-field>
                    </form>
                    <div class="botones-step">
                        <div class="contenedor-boton">
                            <button class="contenedor-label color-primario my-md" mat-raised-button matStepperPrevious>{{
                                'GLOBAL.regresar' |
                                translate }}</button>
                        </div>
                        <div class="contenedor-boton">
                            <button (click)="guardar()" class="contenedor-label color-primario my-md" mat-raised-button [disabled]="!formInfoSocioEconomicaPersonal.valid || !formInfoSocioEconomicaCosteara.valid || !formDocsGenerales.valid">{{
                                'GLOBAL.guardar' |
                                translate }}</button>
                        </div>
                    </div>
                </div>
            </mat-step>
            <!-- <fieldset>
                <legend>{{ 'legalizacion_admision.titulo_informacion_socioeconomica_personal' | translate }}</legend>
                <form [formGroup]="formInfoSocioEconomicaPersonal">
                    <div class="info-socioeconomica">
                        <div class="residencia-colegio">
                            <mat-form-field class="span-2">
                                <mat-label>{{ 'GLOBAL.direccion_residencia' | translate }}</mat-label>
                                <input matInput formControlName="direccion_residencia">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.localidad_residencia' | translate }}</mat-label>
                                <mat-select formControlName="localidad">
                                    <mat-option>{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="span-2">
                                <mat-label>{{ 'GLOBAL.colegio' | translate }}</mat-label>
                                <input matInput formControlName="colegio">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'legalizacion_admision.diploma_bachiller' | translate }}</mat-label>
                                <mat-select formControlName="diploma_bachiller">
                                    <mat-option>{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="pension">
                            <mat-form-field>
                                <mat-label>{{ 'legalizacion_admision.valor_pension' | translate }}</mat-label>
                                <input matInput formControlName="pension_valor">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'legalizacion_admision.valor_sm' | translate }}</mat-label>
                                <input matInput formControlName="pension_valor_smv">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'legalizacion_admision.soporte_valor_pension' | translate }}</mat-label>
                                <input matInput formControlName="soporte_pension_valor">
                            </mat-form-field>
                        </div>
                        <div class="familia-laboral">
                            <div>
                                <mat-form-field>
                                    <mat-label>{{ 'legalizacion_admision.nucleo_familiar' | translate }}</mat-label>
                                    <mat-select formControlName="nucleo_familiar">
                                        <mat-option>{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>{{ 'legalizacion_admision.soporte_nucleo_familiar' | translate }}</mat-label>
                                    <mat-select formControlName="soporte_nucleo_familiar">
                                        <mat-option>{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <mat-label>{{ 'legalizacion_admision.situacion_laboral' | translate }}</mat-label>
                                    <mat-select formControlName="situacion_laboral">
                                        <mat-option>{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>{{ 'legalizacion_admision.soporte_situacion_laboral' | translate
                                        }}</mat-label>
                                    <mat-select formControlName="soporte_situacion_laboral">
                                        <mat-option>{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor-boton">
                        <button class="contenedor-label color-primario my-md" mat-raised-button>{{ 'GLOBAL.siguiente' |
                            translate }}</button>
                    </div>
                </form>
            </fieldset> -->
            <!-- <fieldset>
                <legend>{{ 'legalizacion_admision.titulo_informacion_socioeconomica_costeara' | translate }}</legend>
                <form [formGroup]="formInfoSocioEconomicaCosteara">
                    <div class="info-costea">
                        <div class="estrato">
                            <mat-form-field class="span-3">
                                <mat-label>{{ 'GLOBAL.direccion_residencia' | translate }}</mat-label>
                                <input matInput formControlName="direccion_residencia_costeara">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'GLOBAL.estrato_costea' | translate }}</mat-label>
                                <mat-select formControlName="estrato">
                                    <mat-option>{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'legalizacion_admision.soporte_estrato' | translate }}</mat-label>
                                <input matInput formControlName="soporte_estrato">
                            </mat-form-field>
                        </div>
                        <div class="ingresos">
                            <mat-form-field class="span-2">
                                <mat-label>{{ 'legalizacion_admision.ingresos_costea' | translate }}</mat-label>
                                <input matInput formControlName="ingresos_ano_anterior">
                            </mat-form-field>
                            <mat-form-field class="span-2">
                                <mat-label>{{ 'legalizacion_admision.valor_sm' | translate }}</mat-label>
                                <input matInput formControlName="ingresos_ano_anterior_sm">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ 'legalizacion_admision.soporte_ingresos_costea' | translate }}</mat-label>
                                <input matInput formControlName="soporte_ingresos_ano_anterior">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="contenedor-boton">
                        <button class="contenedor-label color-primario my-md" mat-raised-button>{{ 'GLOBAL.siguiente' |
                            translate }}</button>
                    </div>
                </form>
            </fieldset> -->
            <!-- <fieldset>
                <legend>{{ 'legalizacion_admision.titulo_documentos' | translate }}</legend>
                <h6>{{ 'legalizacion_admision.info_documentos' | translate }}</h6>
                <mat-list role="list">
                    <li>{{ 'legalizacion_admision.comprobante_admision' | translate
                        }}</li>
                    <li>{{ 'legalizacion_admision.certificado_colegio' | translate
                        }}</li>
                    <li>{{ 'legalizacion_admision.certificado_estrato' | translate
                        }}</li>
                    <li>{{ 'legalizacion_admision.declaracion_renta' | translate
                        }}</li>
                    <li>{{ 'legalizacion_admision.fotocopia_documento' | translate
                        }}</li>
                    <li>{{ 'legalizacion_admision.copia_examen' | translate }}</li>
                    <li>{{ 'legalizacion_admision.copia_registro_civil' | translate
                        }}</li>
                    <li>{{ 'legalizacion_admision.certificado_medico' | translate
                        }}</li>
                </mat-list>
                <form>
                    <mat-form-field>
                        <mat-label>{{ 'legalizacion_admision.soporte_documento' | translate }}</mat-label>
                        <input matInput>
                    </mat-form-field>
                </form>
                <div class="contenedor-boton">
                    <button class="contenedor-label color-primario my-md" mat-raised-button>{{ 'GLOBAL.guardar' |
                        translate }}</button>
                </div>
            </fieldset> -->
        </mat-stepper>
    </mat-card-content>
</mat-card>