:host {
    width: 100%;
}

mat-card {
    width: 100%;
    overflow: overlay;
}

mat-card-header {
    flex-direction: column;
}

mat-card-content {
    margin-bottom: 20px;
}

li {
    margin: 5px 0;
}

fieldset {
    border: solid 1px #03678f;
    border-radius: 5px;
    margin: 20px auto;
    width: 90%;
}

.color-primario {
    background-color: #1ba1e2;
}

.mx-auto {
    margin: 0 auto;
}

.my-md {
    margin: 15px 0;
}

.contenedor-label {
    border-radius: 10px;
    text-align: center;
    font-size: medium;
}

.titulo-principal {
    padding: 20px 60px;
    border: solid 1px #006eaf;
    color: white;
}

.contenedor-informacion {
    padding: 20px 60px;
    border: solid 1px #b09500;
    background-color: #e3c800;
    width: 90%;
}

.fila {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.campo-label {
    border-radius: 5px;
    border: solid 1px black;
    display: flex;
}

.credencial {
    border: solid 1px #6c8ebf;
    background-color: #dae8fc;
    width: 280px;
    padding: 20px;
}

.f-2 .column {
    width: 45%;
}

.f-2 .column p:first-child {
    margin: 10px;
}

.f-2 .column p:last-child {
    margin: 4px;
    align-items: center;
    padding: 0 12px;
    width: 80%;
}

.contenedor-form {
    width: 90%;
    margin: 25px auto;
}

.contenedor-form .campos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
}

.contenedor-form .contenedor-boton {
    text-align: center;
}

.botones-step {
    display: flex;
    justify-content: space-around;
}

.contenedor-boton button {
    color: white;
    padding: 10px 60px;
    border: solid 1px #006eaf;
}

.info-socioeconomica {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-socioeconomica .residencia-colegio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-socioeconomica .pension {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-socioeconomica .familia-laboral {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-socioeconomica .familia-laboral div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-costea {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-costea div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.my-25 {
    margin: 25px 0;
}

.my-button {
    /* Estilos generales para el botón */
    background-color: #8f8f8f; /* Color de fondo verde */
    color: white; /* Color de texto blanco */
    padding: 5px 32px; /* Espacio interno */
    text-align: center; /* Alinear texto al centro */
    text-decoration: none; /* Eliminar subrayado */
    display: inline-block; /* Hacer que el botón se comporte como un bloque en línea */
    border: none; /* Eliminar borde predeterminado */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor a mano al pasar el cursor sobre el botón */
    margin: 0 auto;
}

.info-personal {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.info-personal li {
    list-style-type: none;
}

.info-personal mat-card-header {
    background-color: #006eaf;
}

@media (width > 650px) {
    .info-socioeconomica .residencia-colegio {
        grid-template-columns: 1fr 1fr;
    }

    .info-socioeconomica .familia-laboral div {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width > 750px) {
    .info-socioeconomica .pension {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (width > 850px) {
    .info-socioeconomica .residencia-colegio {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .info-socioeconomica .span-2 {
        grid-column: span 2;
    }

    .info-socioeconomica .familia-laboral {
        grid-template-columns: 1fr 1fr;
    }

    .info-costea div {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .info-costea div .span-3 {
        grid-column: span 3;
    }

    .info-costea div .span-2 {
        grid-column: span 2;
    }
}

@media (max-width: 750px) {
    .fila {
        flex-direction: column;
    }

    .f-2 .column {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 600px) {
    .fieldset-principal fieldset {
        width: 100%;
    }

    .botones-step {
        display: block;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .credencial {
        width: 90%;
    }
}