:host {
    width: 100%;
}

mat-card {
    width: 100%;
    overflow: overlay;
}

mat-card-header {
    flex-direction: column;
}

mat-card-content {
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
    min-height: 90px;
}

.archivo ::ng-deep .mat-mdc-form-field-flex {
    max-height: 68px;
    overflow-y: overlay;
}

li {
    margin: 5px 0;
}

fieldset {
    border: solid 1px #03678f;
    border-radius: 5px;
    margin: 20px auto;
    width: 90%;
}

.color-primario {
    background-color: var(--md-primary-400) !important;
}

.mx-auto {
    margin: 0 auto;
}

.my-md {
    margin: 15px 0;
}

.contenedor-label {
    border-radius: 10px;
    text-align: center;
    font-size: medium;
}

.titulo-principal {
    padding: 20px 60px;
    border: solid 1px #006eaf;
    color: white;
}

.contenedor-informacion {
    padding: 20px 60px;
    border: solid 1px #b09500;
    background-color: #e3c800;
    width: 90%;
    margin: auto;
}

.fila {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.campo-label {
    border-radius: 5px;
    border: solid 1px black;
    display: flex;
}

.credencial {
    border: solid 1px #6c8ebf;
    background-color: #dae8fc !important;
    width: 280px;
    padding: 20px;
    margin: 15px auto;

}

.f-2 .column {
    width: 45%;
}

.f-2 .column p:first-child {
    margin: 10px;
}

.f-2 .column p:last-child {
    margin: 4px;
    align-items: center;
    padding: 0 12px;
    width: 80%;
}

.contenedor-form {
    width: 90%;
    margin: 25px auto;
}

.contenedor-form .campos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
}

.contenedor-form .contenedor-boton {
    text-align: center;
}

.botones-step {
    display: flex;
    justify-content: space-around;
}

.contenedor-boton button {
    color: white;
    padding: 10px 60px;
    border: solid 1px var(--md-primary-700);
}

.info-socioeconomica {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-socioeconomica .residencia-colegio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-socioeconomica .pension {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-socioeconomica .familia-laboral {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-socioeconomica .familia-laboral div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-costea {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.info-costea div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.my-25 {
    margin: 25px 0;
}

.my-button {
    background-color: white;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.my-button:hover {
    background-color: #dddddd;
}

.contenedor-boton .button-disabled {
    background-color: #ccc !important;
    color: #999;
    cursor: not-allowed !important; 
    border: black solid 1px !important;
}

.info-personal {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px;
    text-align: center;
}

.info-personal li {
    list-style-type: none;
}

.info-personal li span {
    font-weight: bold;
}

.info-personal mat-card-header {
    background-color: #006eaf;
    padding: 10px 0;
}

.info-personal mat-card-content {
    margin: 0;
    padding: 10px 0;
}

.loader-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 115, 115, 0.5);
    /* Fondo semitransparente rojo */
    z-index: 1;
}

.contendedor-no-autorizado {
    text-align: center;
    width: 50%;
    margin: 100px auto !important;
}

.contendedor-no-autorizado mat-card-header {
    background-color: rgb(212, 64, 64);
}

.contendedor-no-autorizado mat-card-content {
    padding: 18px;
}

.contenedor-archivos-grid {
    display: flex !important;
    flex-direction: column;
}

.b-center {
    display: flex;
    justify-content: center;
}

.boton-visualizar {
    background-color: var(--md-primary-400) !important;
    color: white !important;
}

.estado_inscripcion{
    display: flex;
}

.estado_inscripcion p{
    width: 85%;
    margin: 0 10px;
}

.icono {
    font-size: 2.75rem;
    height: 100%;
    width: 10%;
    margin: auto;
}

.color-rojo {
    color: var(--danger-main);
}

.color-verde {
    color: var(--danger-main);
}

.color-primary {
    color: var(--primary);
}

@media (width > 650px) {
    .info-socioeconomica .residencia-colegio {
        grid-template-columns: 1fr 1fr;
    }

    .info-socioeconomica .familia-laboral div {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width > 750px) {
    .info-socioeconomica .pension {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (width > 850px) {
    .info-socioeconomica .residencia-colegio {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .info-socioeconomica .span-2 {
        grid-column: span 2;
    }

    .info-socioeconomica .familia-laboral {
        grid-template-columns: 1fr 1fr;
    }

    .info-costea div {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .info-costea div .span-3 {
        grid-column: span 3;
    }

    .info-costea div .span-2 {
        grid-column: span 2;
    }
}

@media (max-width: 750px) {
    .fila {
        flex-direction: column;
    }

    .f-2 .column {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 600px) {
    .fieldset-principal fieldset {
        width: 100%;
    }

    .botones-step {
        display: block;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .credencial {
        width: 90%;
    }
}