<!--Botón de pago cuando el recibo se encuentra en estado de "No pago"-->
<button *ngIf="notPaid" (click)="showOptions()" mat-flat-button color="accent">
  {{ "inscripcion.pagar_recibo" | translate }}
  <mat-icon class="icon"> attach_money</mat-icon>
</button>

<!--Botón de pago cuando el recibo se encuentra en estado de "pago"-->
<button
  *ngIf="isPaid"
  (click)="showInscription()"
  mat-flat-button
  color="accent"
>
  <ng-container *ngIf="!yaInscrito">
    <div class="container-button">
      <mat-icon class="icon"> edit </mat-icon>
      {{ "inscripcion.btn_inscribirme" | translate }}
    </div>
  </ng-container>
  <ng-container *ngIf="yaInscrito">
    <div class="container-button">
      <mat-icon class="icon">remove_red_eye</mat-icon>
      {{ "inscripcion.btn_ver_inscripcion" | translate }}
    </div>
  </ng-container>
</button>

<!--Label cuando el recibo de pago se encuentra vencido-->
<label *ngIf="vencido"> {{ "inscripcion.lbl_sin_pago" | translate }} </label>
