<!-- Your content goes here -->
<div>
  <ngx-dinamicform
    [normalform]="formInfoPersona"
    [modeloData]="info_info_persona"
    (result)="validarForm($event)"
    [clean]="clean"
    (percentage)="setPercentage($event)"
    (interlaced)="checkExistePersona($event)"
  >
  </ngx-dinamicform>

  <div style="display: flex; justify-content: center; margin: 2em">
    <button mat-fab color="primary" (click)="openVideoModal('video7')">
      <div >
        <mat-icon>live_help</mat-icon>
        {{ "GLOBAL.ayuda" | translate }}
      </div>
    </button>
  </div>
</div>
