<mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="100" color="primary">
</mat-progress-spinner>
<div class="my-3">
    <ngx-dinamicform [normalform]="formInfoPersona"
                     [modeloData]="info_info_persona"
                     (result)="validarForm($event)"
                     [clean]="clean"
                     (percentage)="setPercentage($event)"
                     (interlaced)="checkExistePersona($event)">
    </ngx-dinamicform> 

    <div class="text-center mt-3">
      <button (click)="openVideoModal('video7')" class="round-button btn boton-help">
        <div class="button-content">
          <mat-icon class="icon-help">live_help</mat-icon>
          <p style="font-weight: 500;">{{ 'GLOBAL.ayuda' | translate }}</p>
        </div>
      </button>
    </div>    
  </div>