.icon-help{
    color: #03678f;
    margin: 0 15px;
}

.boton-help{
    color: #03678f;
    border: 2px solid;
    border-radius: 50%
}

.boton-help:hover{
    background: #dff4ff;
    border: 2px solid;
    border-radius: 50%
}
  