.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Adjust the gap size as needed */
    justify-content: start; /* Center buttons horizontally */
    align-items: center; /* Align buttons vertically in the middle */
  }
  
  /* Optional: Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .button-container {
      justify-content: space-between; /* Adjust positioning on smaller screens */
      gap: 0; /* Remove gap between buttons */
      & button {
        width: 100%; /* Make buttons full width on smaller screens */
      }
    }
  }

  .author-container{
    padding: 0.5rem;
    border: var(--color5) solid 1px;
    border-radius: 0.5rem;
    background-color: var(--background-color);
  }
  