<mat-card>
  <mat-card-content>
    <div class="info alert margin-y">
      <mat-icon class="icon">info</mat-icon>
      <span>{{ "inscripcion.alerta_idiomas" | translate }}</span>
    </div>
    <section>
      <p>
        <b>{{ "inscripcion.idioma_examen" | translate }}: </b>
        <span *ngIf="idiomaExamen; else sinDefinir">{{ getNombreIdioma(idiomaExamen) }}</span>
        <ng-template #sinDefinir><span>{{ "inscripcion.sin_definir" | translate }}</span></ng-template>
      </p>
      <div *ngIf="idiomaExamen" class="warning alert">
        <mat-icon class="icon">warning</mat-icon
        >{{ "inscripcion.idioma_cambio_examen" | translate }}
      </div>
    </section>
    <mat-tab-group
      fullWidth
      [selectedIndex]="selected"
      (selectedTabChange)="tabChanged($event)"
    >
      <mat-tab label="{{ 'GLOBAL.lista' | translate }}">
        <button
          mat-flat-button
          color="accent"
          (click)="onCreate()"
          class="margin-y"
        >
          <mat-icon>add</mat-icon>
          {{ "GLOBAL.agregar" | translate }}
        </button>
        <div class="table mat-elevation-z8">
          <mat-table [dataSource]="dataSource" class="demo-table">
            <ng-container matColumnDef="idioma">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "GLOBAL.idioma" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.IdiomaId.Nombre }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="escritura">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "GLOBAL.nivel_escribe" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.NivelEscribeId.Nombre }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="escucha">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "GLOBAL.nivel_escucha" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.NivelEscuchaId.Nombre }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="habla">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "GLOBAL.nivel_habla" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.NivelHablaId.Nombre }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lee">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "GLOBAL.nivel_lee" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.NivelLeeId.Nombre }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lectura">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "GLOBAL.nivel_lee" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.Observacion }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "GLOBAL.acciones" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button color="accent" (click)="onEdit(row)">
                  <mat-icon>edit_outline</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(row)">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
              class="encabezado"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
        <!-- <div class="text-center">
                    <button (click)="activetab()" class="btn btn-info btn-sm">
                      <i class="nb-plus"></i> {{ 'GLOBAL.agregar' | translate }}
                    </button>
                </div> -->
      </mat-tab>
      <mat-tab label="{{ 'GLOBAL.formulario' | translate }}">
        <ngx-crud-idiomas
          [info_idioma_id]="uid"
          [inscripcion_id]="inscripcion_id"
          (eventChange)="onChange($event)"
          (result)="getPercentage($event)"
          (crear_inscripcion)="crear_inscripcion($event)"
        >
        </ngx-crud-idiomas>
        <button
          (click)="irAIndexTab(0)"
          class="margin-y"
          mat-flat-button
          color="primary"
        >
          <mat-icon>arrow_back_ios</mat-icon>
          <p class="mt-1">{{ "GLOBAL.regresar" | translate }}</p>
        </button>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
