<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ "inscripcion.solicitud_transferencia" | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="margin-y">
    <mat-card *ngIf="listadoSolicitudes">
      <mat-card-header>
        <mat-card-title>
          {{ "inscripcion.listado_solicitudes" | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="table mat-elevation-z8 margin-y">
          <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="recibo">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "inscripcion.recibo" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.Recibo }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="concepto">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "inscripcion.concepto" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.Concepto }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="programa">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "inscripcion.programa" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.Programa }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estadoInscripcion">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "inscripcion.estado_inscripcion" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.EstadoInscripcion }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fecha">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "inscripcion.fecha_generacion" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">{{
                row.FechaGeneracion
              }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estadoRecibo">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "inscripcion.estado_recibo" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.EstadoRecibo }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="respuesta">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "derechos_pecuniarios.ver_respuesta" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ngx-customize-button
                  class=""
                  [value]="row.Descargar"
                  [rowData]="row"
                  (save)="descargarArchivo($event)"
                ></ngx-customize-button>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="solicitar">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "derechos_pecuniarios.solicitar" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ngx-customize-button
                  class=""
                  [value]="row.Opcion"
                  [rowData]="row"
                  (save)="solicitar($event)"
                ></ngx-customize-button>
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
              class="encabezado"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
        <div class="margin-y" *ngIf="!actions" style="display: flex; flex-wrap:wrap; gap: 1rem;">
          <button
            mat-flat-button
            color="accent"
            *ngIf="listadoSolicitudes"
            type="button"
            (click)="descargarNormativa()"
          >
            {{ "inscripcion.btn_descargar_normativa" | translate }}
          </button>
          <button
            *ngIf="listadoSolicitudes"
            mat-flat-button
            color="accent"
            type="button"
            (click)="nuevaSolicitud()"
          >
            {{ "inscripcion.btn_nueva_solicitud" | translate }}
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- (eventChange)="onChange($event)" -->
    <ngx-crud-info-persona
      *ngIf="!listadoSolicitudes"
      [info_persona_id]="uid"
      (success)="loadInfoPersona()"
    >
    </ngx-crud-info-persona>
    <ngx-dinamicform
      *ngIf="!listadoSolicitudes"
      [modeloData]="dataTransferencia"
      [normalform]="formTransferencia"
      (interlaced)="seleccion($event)"
      (result)="validarForm($event)"
    >
    </ngx-dinamicform>

    <div class="margin-y" *ngIf="!listadoSolicitudes" style="display: flex; flex-wrap: wrap; gap: 1rem;">
      <button
        mat-flat-button
        color="warn"
        type="button"
        (click)="clean(); listadoSolicitudes = true"
      >
        {{ "GLOBAL.cancelar" | translate }}
      </button>
      <button
        mat-flat-button
        color="accent"
        (click)="generarRecibo()"
        *ngIf="recibo"
      >
        {{ "derechos_pecuniarios.generar_recibo" | translate }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
