<div class="content-container" [class.content-loading]="loading">
  <mat-spinner *ngIf="loading" class="spinner-overlay"></mat-spinner>
  <div class="my-3">
    <div *ngIf="!denied_acces">
      <ngx-dinamicform [normalform]="formInfoCaracteristica" [modeloData]="info_info_caracteristica"
        (result)="validarForm($event)" [clean]="clean" (interlaced)="getSeleccion($event)"
        (percentage)="setPercentage($event)">
      </ngx-dinamicform>
      <div class="info mt-3" *ngIf="mensaje_discapcidades && !mensaje_poblacion_discapcidades">
        <mat-icon class="info-icon">info</mat-icon> &nbsp;
        <span>{{ 'inscripcion.alerta_discapacidades' | translate }}</span>
      </div>

      <div class="info mt-3" *ngIf="mensaje_poblacion && !mensaje_poblacion_discapcidades">
        <mat-icon class="info-icon">info</mat-icon> &nbsp;
        <span>{{ 'inscripcion.alerta_poblacion' | translate }}</span>
      </div>

      <div class="info mt-3" *ngIf="mensaje_poblacion_discapcidades">
        <mat-icon class="info-icon">info</mat-icon> &nbsp;
        <span>{{ 'inscripcion.alerta_poblacion_discapacidades' | translate }}</span>
      </div>
    </div>
  </div> 
</div>