.boton-search{
    background-color: transparent;
    border: none;
    color: #03678f;
    margin: 5px 0;
}

.icon-search{
    margin-bottom: -10px;
}

.boton-search:hover{
    color: #0093cd;
}

.recibo-vencido{
    display: flex;
}

.close-icon{
    padding-right: 18px
}