<mat-card>
  <mat-card-content>
    <div class="info margin-y">
      <mat-icon class="info-icon">info</mat-icon>
      <span>{{ "inscripcion.alerta_desc_matricula" | translate }}</span>
    </div>
    <mat-tab-group
      fullWidth
      [selectedIndex]="selected"
      (selectedTabChange)="tabChanged($event)"
    >
      <mat-tab label="{{ 'GLOBAL.lista' | translate }}">
        <!-- AGREGAR -->
        <button
          class="margin-y"
          mat-flat-button
          color="accent"
          (click)="onCreate()"
          type="button"
        >
          <mat-icon>add</mat-icon>
          {{ "GLOBAL.agregar" | translate }}
        </button>

        <!-- TABLA -->
        <div class="table">
          <mat-table [dataSource]="dataSource" class="demo-table">
            <ng-container matColumnDef="tipo_documento">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "GLOBAL.tipo_descuento_matricula" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.DescuentosDependenciaId.TipoDescuentoId.Nombre }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "admision.estado" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.EstadoObservacion }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="observacion">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "admision.observacion" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.Observacion }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "GLOBAL.acciones" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button color="accent" (click)="onOpen(row)">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="onEdit(row)">
                  <mat-icon>edit_outline</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(row)">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
              class="encabezado"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
      </mat-tab>

      <mat-tab label="{{ 'GLOBAL.formulario' | translate }}">
        <ngx-crud-descuento-academico
          [descuento_academico_id]="uid"
          [inscripcion_id]="inscripcion"
          [persona_id]="persona"
          [already_listed]="listAlreadyUploaded"
          (eventChange)="onChange($event)"
          (result)="getPercentage($event)"
        >
        </ngx-crud-descuento-academico>
        <button
          (click)="irAIndexTab(0)"
          mat-flat-button
          color="primary"
          class="margin-y"
        >
          <mat-icon>arrow_back_ios</mat-icon>
          <p class="mt-1">{{ "GLOBAL.regresar" | translate }}</p>
        </button>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
