<mat-card>
  <mat-card-content>
    <div class="info my-3">
      <mat-icon class="info-icon">info</mat-icon> &nbsp;
      <span>{{ "inscripcion.alerta_formacion" | translate }}</span>
    </div>
    <mat-tab-group
      fullWidth
      [selectedIndex]="selected"
      (selectedTabChange)="tabChanged($event)"
    >
      <mat-tab label="{{ 'GLOBAL.lista' | translate }}">
        <br />
        <div class="d-flex justify-content-end">
          <button
            mat-flat-button
            color="accent"
            (click)="onCreate()"
          >
            <mat-icon>add</mat-icon>
            {{ "GLOBAL.agregar" | translate }}
          </button>
        </div>
        <div class="table mat-elevation-z8">
          <mat-table [dataSource]="dataSource" class="demo-table">
            <ng-container matColumnDef="titulo">
              <mat-header-cell *matHeaderCellDef
                ><b>{{
                  "produccion_academica.titulo_produccion_academica" | translate
                }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.Titulo }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <mat-header-cell *matHeaderCellDef
                ><b>{{
                  "produccion_academica.tipo_produccion_academica" | translate
                }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.SubtipoProduccionId.Nombre }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="resumen">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "produccion_academica.resumen" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.Resumen }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "produccion_academica.estado_autor" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.EstadoEnteAutorId.EstadoAutorProduccionId.Nombre }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fecha">
              <mat-header-cell *matHeaderCellDef
                ><b>{{
                  "produccion_academica.fecha_publicacion" | translate
                }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.Fecha | date : "yyyy-MM-dd" }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef
                ><b>{{ "GLOBAL.acciones" | translate }}</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button color="accent" (click)="onEdit(row)"><mat-icon>edit_outline</mat-icon></button>
                <button mat-icon-button color="warn" (click)="onDelete(row)" ><mat-icon>delete_outline</mat-icon></button>
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
              class="encabezado"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
        <!-- <div class="text-center">
          <button (click)="activetab()" class="btn btn-info btn-sm">
            <i class="nb-plus"></i> {{ 'GLOBAL.agregar' | translate }}
          </button>
        </div> -->
        <!--button (click)="activetab()" >cambiar</button-->
      </mat-tab>
      <mat-tab label="{{ 'GLOBAL.formulario' | translate }}">
        <ngx-crud-produccion-academica
          [produccion_academica_selected]="prod_selected!"
          (eventChange)="onChange($event)"
          (updateList)="ngOnInit()"
          (result)="getPercentage($event)"
        ></ngx-crud-produccion-academica>

        <button
          mat-flat-button
          color="primary"
          (click)="irAIndexTab(0)"
          class="margin-y"
        >
          <mat-icon>arrow_back_ios</mat-icon>
          <p class="mt-1">{{ "GLOBAL.regresar" | translate }}</p>
        </button>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
