<div class="col-md-12 col-lg-12 ">
    <div>
        <mat-card-content>
            <div class="info my-3">
                <mat-icon class="info-icon">info</mat-icon> &nbsp;
                <span>{{ 'inscripcion.alerta_formacion' | translate }}</span>
            </div>
            <mat-tab-group fullWidth [selectedIndex]="selected" (selectedTabChange)="tabChanged($event)">
                <mat-tab label="{{ 'GLOBAL.lista' | translate }}">
                    <br />
                    <div class="d-flex justify-content-end">
                        <button class="btn boton-primary mx-4" (click)="onCreate()" mat-button>
                            <mat-icon>add</mat-icon>
                            {{ 'GLOBAL.agregar' | translate }}
                        </button>
                    </div>
                    <div class="table-container">
                        <mat-table [dataSource]="dataSource" class="demo-table">
                            <ng-container matColumnDef="nit">
                                <mat-header-cell *matHeaderCellDef><b> {{ 'GLOBAL.nit' | translate
                                        }}</b>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.Nit }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="nombre">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'GLOBAL.nombre_universidad' | translate
                                        }}</b>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.NombreCompleto}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="pais">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'GLOBAL.pais_universidad' |
                                        translate }}</b>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.Ubicacion }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="programa">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'GLOBAL.programa_academico' | translate }}</b>

                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.ProgramaAcademico.Nombre }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="fecha_inicio">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'GLOBAL.fecha_inicio' | translate }}</b>

                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.FechaInicio}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="fecha_fin">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'GLOBAL.fecha_fin' | translate }}</b>

                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.FechaFinalizacion }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'admision.estado' | translate }}</b>

                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.Estado }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="observacion">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'admision.observacion' | translate }}</b>

                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.Observacion }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="acciones">
                                <mat-header-cell *matHeaderCellDef><b>{{ 'GLOBAL.acciones' | translate }}</b>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon class="link icono" (click)="onEdit(row)" aria-hidden="false"
                                        title="{{'formacion_academica.tooltip_editar' | translate}}"
                                        fontIcon="edit_outline"></mat-icon>

                                    <mat-icon class="link icono" (click)="onDelete(row)" aria-hidden="false"
                                        title="{{'formacion_academica.tooltip_eliminar' | translate}}"
                                        fontIcon="delete_outline"></mat-icon>
                                </mat-cell>

                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                </mat-tab>
                <mat-tab label="{{ 'GLOBAL.formulario' | translate }}">
                        <div *ngIf="selected == 1">
                            <ngx-crud-formacion-academica [info_formacion_academica_id]="uid" [info_proyecto_id]="pid"
                            [info_id_formacion]="id" [edit_status]="UpdateInfo" (eventChange)="onChange($event)"
                            (result)="getPercentage($event)" (updateFormacion)="ngOnInit()">
                        </ngx-crud-formacion-academica>
                        <button (click)="irAIndexTab(0)" class="btn boton-primary btn-sm" style="max-height: 35px;">
                            <mat-icon>arrow_back_ios</mat-icon>
                            <p class="mt-1">{{ 'GLOBAL.regresar' | translate }}</p>
                        </button>
                        </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </div>
</div>