<mat-card [hidden]="!show_info">
  <mat-card-header>
    <div>
      <ngb-progressbar
        [showValue]="true"
        type="success"
        [value]="percentage_info"
        [animated]="true"
        [height]="'15px'"
        [hidden]="isBarraOculta"
      >
      </ngb-progressbar>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group fullWidth>
      <mat-tab label="{{ 'inscripcion.info_persona' | translate }}">
        <ngx-crud-info-persona
          *ngIf="!isLoading"
          [info_persona_id]="info_persona_id"
          [inscripcion_id]="inscripcion_id"
          (eventChange)="perfil_editar('info_preinscripcion')"
          (success)="cambioTab()"
          (result)="setPercentage_info($event, 0)"
        >
        </ngx-crud-info-persona>
      </mat-tab>
      <mat-tab label="{{ 'inscripcion.preinscripcion' | translate }}">
        <ngx-crud-inscripcion-multiple
          *ngIf="!isLoading"
          [info_persona_id]="info_persona_id"
          [inscripcion_id]="inscripcion_id"
          (eventChange)="perfil_editar('default')"
          (result)="setPercentage_info(1, 1)"
          (ocultarBarra)="ocultarBarra($event)"
        >
        </ngx-crud-inscripcion-multiple>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
